@font-face {
    font-family: Arim_Madurai;
    src: url("../fonts/Arima_Madurai/ArimaMadurai-Regular.ttf")
}

@font-face {
    font-family: Niconne;
    src: url("../fonts/Asap_Condensed/AsapCondensed-Regular.ttf")
}

@font-face {
    font-family: Baerkshire_Swash;
    src: url("../fonts/Berkshire_Swash/BerkshireSwash-Regular.ttf")
}

@font-face {
    font-family: Courgette;
    src: url("../fonts/Courgette/Courgette-Regular.ttf")
}

@font-face {
    font-family: DM_Serif_Display;
    src: url("../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf")
}

@font-face {
    font-family: El_Messiri;
    src: url("../fonts/El_Messiri/ElMessiri-Regular.ttf")
}

@font-face {
    font-family: Jost;
    src: url("../fonts/Jost/Jost-Italic-VariableFont_wght.ttf")
}

@font-face {
    font-family: Lobster;
    src: url("../fonts/Lobster/Lobster-Regular.ttf")
}

@font-face {
    font-family: Merienda;
    src: url("../fonts/Merienda/Merienda-Regular.ttf")
}

@font-face {
    font-family: Monda;
    src: url("../fonts/Monda/Monda-Regular.ttf")
}

@font-face {
    font-family: Mr_Dafoe;
    src: url("../fonts/Mr_Dafoe/MrDafoe-Regular.ttf")
}

@font-face {
    font-family: Nanum_Myeongjo;
    src: url("../fonts/Nanum_Myeongjo/NanumMyeongjo-Regular.ttf")
}


/* Second folder */
@font-face {
    font-family: Niconne;
    src: url("../font/Niconne/Niconne-Regular.ttf")
}

@font-face {
    font-family: Oleo_Script;
    src: url("../font/Oleo_Script/OleoScript-Regular.ttf")
}

@font-face {
    font-family: Oswald;
    src: url("../font/Oswald/Oswald-VariableFont_wght.ttf")
}

@font-face {
    font-family: Pattaya;
    src: url("../font/Pattaya/Pattaya-Regular.ttf")
}

@font-face {
    font-family: Playball;
    src: url("../font/Playball/Playball-Regular.ttf")
}

@font-face {
    font-family: Saira_Condesed;
    src: url("../font/Saira_Condensed/SairaCondensed-Regular.ttf")
}

@font-face {
    font-family: Satisfy;
    src: url("../font/Satisfy/Satisfy-Regular.ttf")
}

@font-face {
    font-family: Signika;
    src: url("../font/Signika/Signika-VariableFont_wght.ttf")
}

@font-face {
    font-family: Sriracha;
    src: url("../font/Sriracha/Sriracha-Regular.ttf")
}